<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

    <head>
        {{ block "load_paginator" . }}{{ end }}
        {{ partial "meta.html" . }}
        {{ partial "title.html" . }}
        {{ partial "link.html" . }}
        {{ partial "load_site_assets.html" . }}
        {{ block "load_page_assets" . }}
        {{ if .Params.math }}
        {{ partial "math.html" . }}
        {{ end }}
        {{ with .Content }}{{ end }}
        {{ end }}
        {{ partial "assets.html" . }}
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    <body>
        {{ partialCached "banner.html" . }}
        <main>
            <div class="u-wrapper">
                <div class="box" style="margin-bottom:25px;">

                    {{ with resources.GetMatch "images/fmaf-centered-logo-2.webp" }}
                    <img class="logo" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}

                    <!--
                    <div style="text-align:center; margin-top: 25px; margin-bottom: 25px;">
                        {{ partial "svg" (dict "name" "logo-small-optimized" "class" "") }}
                    </div>
                    -->
                </div>
                <div class="box">
                    <div class="u-padding">
                        {{ block "main" . }}{{ end }}
                    </div>
                </div>
            </div>
        </main>
        {{ partialCached "footer.html" . }}

        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", (user) => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>

</html>