<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

    <head>
        {{ block "load_paginator" . }}{{ end }}
        {{ partial "meta.html" . }}
        {{ partial "title.html" . }}
        {{ partial "link.html" . }}
        {{ partial "load_site_assets.html" . }}
        {{ block "load_page_assets" . }}
        {{ if .Params.math }}
        {{ partial "math.html" . }}
        {{ end }}
        {{ with .Content }}{{ end }}
        {{ end }}
        {{ partial "assets.html" . }}
        <script type="module" crossorigin
            src="https://widgets.betterworld.org/latest/widget.js?organization=8ZA67ORG"></script>
    </head>

    <body>
        {{ partialCached "banner.html" . }}
        <main>
            <div style="text-align:center; margin-top: 50px; margin-bottom: 50px;">
                {{ partial "svg" (dict "name" "logo3" "class" "") }}
            </div>
            <div class="u-wrapper">
                <div class="u-padding">
                    {{ block "main" . }}{{ end }}
                </div>
            </div>
        </main>
        {{ partialCached "footer.html" . }}
    </body>

</html>