.button-default {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.veg-banner {
    display: block;
    width: auto;
    height: auto;
}

footer {
    padding-top: 1em;
    color: white;
    background-color: green;
    box-shadow: 0 50vh 0 50vh green;
}

/* logo green #2aaf11;*/
/* logo light blue #cadee7;*/